#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  text-align: center;
  // width: inherit;
}

.header {
  flex: 0 1 fit-content;
}

.wildcards-lists-container {
  flex: 1;
  overflow: auto;
  // display: grid;
  // grid-template: 1fr / 1fr;
}