:root {
  font-family: Comic Sans MS, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html, body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;